<header>
    <h1>Jawand's Home Page</h1>
</header>

<main>
    <section>
        <h2>Skills</h2>
        <ul>
            <li>Programming languages: Python, Java</li>
            <li>Web development: HTML, CSS, JavaScript</li>
            <li>Tools: eBPF, git</li>
            <li>IDEs/OS: VSCode, PyCharm, Windows, Linux</li>
        </ul>
    </section>

    <section>
        <h2>Projects</h2>
        <ul>
            <li><a href="/namemate">NameMateAI</a>: Developed backend with JavaScript and Wix APIs</li>
            <li><a href="#">Research: Tracing Overhead</a>: "Modeling eBPF Tracing Overhead on Ubuntu Servers"</li>
            <li><a href="/">This Website</a>: Created with express and self hosted</li>
        </ul>
    </section>

    <section>
        <h2>Courses</h2>
        <ul>
            <li>Artificial Intelligence 1&amp2</li>
            <li>Data Structures</li>
            <li>Android App Dev</li>
            <li>Web Dev</li>
        </ul>
    </section>

    <article>
        <h2>Test Scores</h2>
        <ul>
            <li>ACT: 33</li>
            <li>SAT: 1480</li>
            <li>AP CS A: 5</li>
            <li>AP AB Calc: 5</li>
            <li>AP Physics 1: 5</li>
        </ul>
    </article>
</main>

<footer>
    <p>&copy; 2023 CS Undergrad Home Page</p>
</footer>
</body>