<div class="container">
    <h1>Welcome to my Home Page</h1>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Resume</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <div class="content">
        <p>Hello, I'm an undergraduate computer science major with skills in Python, HTML/CSS/JavaScript web
            development, and Java. I'm also experienced in Android app development and Git. Currently, I'm working on a
            research project titled "Modeling eBPF Tracing Overhead on Ubuntu Servers" where I've used skills such as
            Bash scripting, operating systems, data visualization/analysis, and eBPF. I've also used PyCharm, VSCode,
            Windows, and Linux. In addition, I've taken classes in Artificial Intelligence 1&amp;2, Mobile App Dev, Web
            App Dev, and Data Structures, earning As in all of them. I've also taken AP courses in US History, Computer
            Science A, Physics 1, and AB Calculus, earning 5/5 on all of these tests.</p>
    </div>
    <div class="skills">
        <p>Skills:</p>
        <div class="skill">Python</div>
        <div class="skill">HTML/CSS/JavaScript</div>
        <div class="skill">Java</div>
        <div class="skill">Android App Development</div>
        <div class="skill">Git</div>
        <div class="skill">Bash Scripting</div>
        <div class="skill">Operating Systems</div>
        <div class="skill">Data Visualization/Analysis</div>
        <div class="skill">eBPF</div>
        <div class="skill">PyCharm</div>
        <div class="skill">VSCode</div>
        <div class="skill">Windows</div>
    </div>
</div>    