<div class="container">
    <button id="fantasy-generator">Fantasy</button>
    <button id="random-generator">Random</button>
    <button id="business-generator">Business</button>
    <button id="baby-generator">Baby</button>
    <button id="character-generator">Character</button>
    <button id="team-generator">Team</button>
    <button id="pet-generator">Pet</button>
</div>

<script>
    console.log('namemate page rendering')
    document.getElementById("fantasy-generator").onclick = function () {
        // Add code to generate fantasy names
        alert("Fantasy name generator clicked!");
    };

    document.getElementById("random-generator").onclick = function () {
        // Add code to generate random names
        alert("Random name generator clicked!");
    };

    document.getElementById("business-generator").onclick = function () {
        // Add code to generate business names
        alert("Business name generator clicked!");
    };

    document.getElementById("baby-generator").onclick = function () {
        // Add code to generate baby names
        alert("Baby name generator clicked!");
    };

    document.getElementById("character-generator").onclick = function () {
        // Add code to generate character names
        alert("Character name generator clicked!");
    };

    document.getElementById("team-generator").onclick = function () {
        // Add code to generate team names
        alert("Team name generator clicked!");
    };

    document.getElementById("pet-generator").onclick = function () {
        // Add code to generate pet names
        alert("Pet name generator clicked!");
    };
</script>