<h1>Generate a...</h1>

<div class="container">
    <button id="fantasy-generator"><a href="https://www.namemateai.com/fantasy">Fantasy Name</a></button>
    <button id="random-generator"><a href="https://www.namemateai.com/random">Random Name</a></button>
    <button id="business-generator"><a href="https://www.namemateai.com/business">Business Name</a></button>
    <button id="baby-generator"><a href="https://www.namemateai.com/baby">Baby Name</a></button>
    <button id="character-generator"><a href="https://www.namemateai.com/character">Character Name</a></button>
    <button id="team-generator"><a href="https://www.namemateai.com/team">Team Name</a></button>
    <button id="pet-generator"><a href="https://www.namemateai.com/pet">Pet Name</a></button>
</div>

<section class="about-section">
    <div class="about-text">
        <h2>About Name Generation</h2>
        <p>This website is dedicated to helping you find the perfect name for your project, whether it's a business, a
            novel, or a new addition to your family. With a variety of tools and resources available, you're sure to
            find the inspiration you need to create something truly special. Feel free to explore the different name
            generators and let us know if there's anything else you'd like to see!</p>
    </div>
</section>